body {
  font-family: 'Open Sauce Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sauce Sans', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sauce Sans', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.05em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sauce Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Neue Metana';
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sg-container {
  width: 100%;
  margin-top: 140px;
  padding-right: 40px;
  padding-left: 40px;
}

.heading {
  font-family: 'Open Sauce Sans', sans-serif;
}

.heading-2 {
  font-family: 'Open Sauce Sans', sans-serif;
}

.heading-3 {
  font-family: 'Open Sauce Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.layout {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.section.home-hero {
  width: 100%;
  min-height: 100vh;
}

.section.portfolio {
  width: 100%;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.jumbo {
  font-size: 13vw;
  line-height: 1;
  font-weight: 400;
}

.big-paragraph {
  font-size: 26px;
  line-height: 1.6em;
}

.intro-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.project-list-wrapper {
  padding: 0px;
}

.project-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.project-feature-image {
  width: 100%;
  max-height: 80vh;
}

.project-feature-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  margin: 10px 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.project-feature-summary {
  max-width: 70vw;
  margin: 10px 0px;
  padding: 0px;
}

.featured-project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.featured-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.featured-projects-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.featured-image-wrap {
  overflow: hidden;
  width: 100%;
  max-height: none;
  max-width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.featured-summary {
  padding: 40px;
}

@media screen and (max-width: 991px) {
  .big-paragraph {
    font-size: 24px;
    line-height: 1.4em;
  }
  .project-feature-summary {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .section.home-hero {
    min-height: 70vh;
  }
  .intro-header {
    padding: 20px;
  }
  .big-paragraph {
    font-size: 18px;
    line-height: 1.4em;
  }
  .intro-text {
    padding: 20px;
  }
  .featured-summary {
    padding: 20px;
  }
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/opensaucesans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}